.submenu, 
.search-form, 
.email-form, 
.feedback-form{
  display: none;
}

body {
  margin: 0;

  background-color : #849d8f;
  height: 2416 px;
  width: 1200 px;
}

.navigation-nobacklight, 
.login,
.basket{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.footer-main{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.footer-main .techno-info{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
}