.submenu, 
.search-form, 
.email-form, 
.feedback-form{
  display: none;
}

body {
  margin: 0;

  background-color : #849d8f;
  height: 2416 px;
  width: 1200 px;
}

.navigation-nobacklight{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.text-rich{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
.text-thin{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.techno-info{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.visually-hidden{
  visibility: hidden;
}

.html-button{
  font-size: 0%;
}

.navigation-user{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.search{
  color: transparent;
  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
}

.login{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 0 20px;
  background-image: url(../img/entrance.svg);
  background-repeat: no-repeat;
}

.basket{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 0 20px;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;  
}


.gllacy-blog-news{
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
}

.about-gllacy-head{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  color: #323232;
}

.about-gllacy-production{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #323232;
}
.link-font{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #323232;
}

.link-font-head{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #5a5a5a;
}

.navigation-inner-link{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.gllacy-category{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
}

.gllacy-element{
  color: #ffffff;
}

.radius{
  border-radius: 50%;
}

.price, 
.price-value{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.weight{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 39px;
  font-weight: bold;
}

.about-gllacy{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #ffffff;
}