.submenu, 
.search-form, 
.feedback-form,
.email-form {
  display: none;
}

body {
  margin: 0;

  padding-left: 27px;
  padding-right: 27px;
  background-color: #849d8f;
  height: 2416 px;
  width: 1200 px;
}

.navigation-nobacklight{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.text-rich{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
.text-thin{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.techno-info{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.visually-hidden{
  visibility: hidden;
}

.html-button{
  font-size: 0%;
}

.navigation-user{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.search{
  color: transparent;
  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
}

.login{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 0 20px;
  background-image: url(../img/entrance.svg);
  background-repeat: no-repeat;
}

.basket{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 0 20px;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;  
}

.social{
  display: flex;
}

.gllacy-blog-news{
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 560px;
  min-height: 220px;
}

.mailing{
  width: 550px;
  min-height: 210px;
  background-color: #f8f7f4;
  border-radius: 10px;
  
}

.footer-main {
  display: flex;

}

.outline-mail{
  width: 560px;
  height: 220px;  
  border-radius: 10px;
  background-image: url(../img/mail.jpg); 
  display: flex;
  align-items: center;
}

.about-gllacy-head{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  color: #323232;
}

.about-gllacy-list{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #323232;
  display: flex;
}

.new-container{
  display: flex;
  justify-content: space-between;
  min-width: 1146px;
  padding: 27px;
  align-items: center;
  
}

.tech-production{
  padding: 0 50px;
  background-image: url(../img/ice-cream.svg);
  background-repeat: no-repeat;
}




.eco-production{
  padding: 0 50px;
  background-image: url(../img/eco.svg);
  background-repeat: no-repeat;
}

.cow-production{
  padding: 0 50px;
  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
}

.therm-production{
  padding: 0 50px;
  background-image: url(../img/thermometer.svg);
  background-repeat: no-repeat;
}

.link-font{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #323232;
}

.link-font-head{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #5a5a5a;
}

.navigation-inner-link{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.gllacy-category{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
}

.gllacy-element{
  color: #ffffff;
}

.radius{
  border-radius: 50%;
}

.price, 
.price-value{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.weight{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 39px;
  font-weight: bold;
}

.about-gllacy{
  border-radius: 10px;
  background-image: url(../img/wafer.jpg);
  display: flex;
  flex-direction: column;
  margin: 40px;
  min-width: 1146px;
}


/*---------------

body > *{
  background: rgba(255, 255, 0, 0.2)
}
body > * > *{
  background: rgba(255, 0, 0, 0.2)
}

body > * > * > *{
  background: rgba(0, 255, 0, 0.2)
}

body > * > * > * > *{
  background: rgba(0, 0, 255, 0.2)
}
/*---------------*/
.main-header {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container, .inner-container {
  display: flex;
  justify-content: space-between;
}



.navigation-site {
  width: 853;
  padding: 0 0;
  margin: 0 0;;
}

.navigation-user{                         
  width: 246;
  padding: 0 0;
  margin: 0 0;;
}

